:root{
	font-size: 16px;
}

html, body{
	padding: 0;
	margin: 0;
	background:#fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2{
	text-transform: uppercase;
	font-weight: 300;
}

p{
	font-size: 1rem;
	letter-spacing: 0.0625em;
	font-weight: 100;
}

/*---HEADER---*/

#carousel-header{
	height:75vh;
	position: relative;
	padding: 0;
}

.carousel-inner .item{
	height:75vh;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.slide-1{
	background-image: url("/Graphic-Design-Portfolio/IMG/Cover-IMG/ChristmasPug-ARTWORK.jpg");
	background-position: center top;
}

.slide-2{
	height:75vh;
	background-image: url("/Graphic-Design-Portfolio/IMG/Cover-IMG/PizzaCakeCat-Cover.jpg");
	background-position: center center;
}

.slide-3{
	height:75vh;
	background-image: url("/Graphic-Design-Portfolio/IMG/Cover-IMG/Yaz-Photography-01-Cover.jpg");
	background-position: center top;
}


.gradient{
	background-image: linear-gradient( transparent,#171717);
		background-image: -moz-linear-gradient( transparent,#171717);
		background-image: -webkit-linear-gradient( transparent,#171717);
		background-image: -o-linear-gradient( transparent,#171717);
	height:37.5vh;
	min-width:100%;
	position: absolute;
	top:50.1%;
}


.profile-container{
	text-align: center;
	color: #fff;
	font-size: 1rem;
	width:100%;
	display:block;
	position: absolute;
	left:50%;
	top: 100%;
	transform: translate(-50%, -100%);
		-webkit-transform: translate(-50%, -100%);
		-moz-transform: translate(-50%, -100%);
		-o-transform: translate(-50%, -100%);
	padding-bottom: 3rem;
}

.profile-img{
	border-radius: 100%;
	width:9.375rem;
	margin: 0 auto;
}

h1{
	font-weight:600;
	font-size: 2rem;
	text-transform: uppercase;
}

.profile-container p{
	font-weight: 300;
	margin: 1.42rem 0;
}

.profile-links a{
	color:#fff;
	margin: 0 0.5rem;
}

/*---HEADER QUERIES---*/

@media (max-height:414px){
	.profile-container{
		transform: translate(-50%, -89%);
			-mox-transform: translate(-50%, -89%);
			-webkit-transform: translate(-50%, -89%);
			-o-transform: translate(-50%, -89%);
	}
	.profile-container h1{
		margin:0.625rem 0;
		font-size: 1.5rem;
	}
	.profile-container p{
		font-size:0.875rem;
		margin:0 0 0.625rem 0;
	}
	.profile-img{
		width: 5rem;
	}
}


/*---NAVIGATION---*/

.navbar{
	border-radius: 0;
	border:none;
	background:#333;
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}

.nav, .navbar-nav{
	display: inline-block;
}

.navbar-default .navbar-nav>li>a{
	font-weight: 200;
	color:#fff;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:visited,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
	color:#fff;
	background:#171717;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: none;
}

.navbar-default .navbar-toggle{
	border:none;
}

/*Hamburger animation*/

.navbar-default .navbar-toggle span{
	transition:all 0.2s ease-in-out;
}

.navbar-default .open span:nth-of-type(3){
	width:0;
	opacity: none;
	transition:all 0.4s ease-in-out;
	}

.navbar-default .open span:nth-of-type(2){
	transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
	position:relative;
	top:6px;
	transition:all 0.4s ease-in-out;
	}

.navbar-default .open span:nth-of-type(4){
	transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-o-transform: rotate(45deg);
	position:relative;
	top:-6px;
	transition:all 0.4s ease-in-out;
	}

/*---NAV MEDIA QUERIES---*/

@media (max-width:767px){
	.navbar{
		display: block;
		text-align: center;
	}
	.nav, .navbar-nav{
		width:100%;
	}
}

/*---MAIN---*/

#main{
	min-height:100vh;
	background:#171717;
}

#main .container{
	padding:0.3125rem 0.9375rem;
}

.col-md-2{
	padding:0.3125rem;
}

.hidden{
	display: none;
}

/*---MAIN QUERIES---*/


/*---OTHER SECTION---*/

#other-work{
	min-height:100vh;
	background:#171717;
}

#other-work .container{
	padding:5rem 0.9375rem 0.3125rem;
}

#other-work .container h2{
	color:#fff;
	margin: 0;
	padding:1.25rem 0.9375rem;
}

#other-work .container hr{
	margin-top: 0;
	border: 0;
	border-top: 0.0625rem solid #333;
}

#other-work .container .row{
	padding:0 0.46875rem;
}

#other-work .container .row>div{
	padding:0 0.46875rem 0.9375rem;
}

.webThumb-wrapper{
	padding:0;
	position: relative;
	overflow: hidden;
}


.web-info{
	background:rgba(51,51,51,0.9);
	color:#fff;
	padding:0.625rem 0.3125rem;
	position: absolute;
	width:100%;
	top:100;
	left:0;
	transform: translateY(0%);
		-moz-transform: translateY(0%);
		-webkit-transform: translateY(0%);
		-o-transform: translateY(0%);
	transition: all 0.3s ease-in-out;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.webThumb-wrapper:hover > .web-info{
	transform: translateY(-99%);
		-moz-transform: translateY(-99%);
		-webkit-transform: translateY(-99%);
		-o-transform: translateY(-99%);
}

.web-info h4, .web-info p{
	margin: 0;
	font-weight: 300;
}

.web-info h4{
	padding: 1.25rem;
}

/*---OTHER QUERIES---*/

@media (max-width:414px){
	#other-work .container {
    padding: 5rem 0.9375rem 0.3125rem;
	}
	
	.col-xs-6{
		width: 100%;
	}
}
@media (max-height:414px){
	
	#other-work .container {
    padding: 5rem 0.9375rem 5rem;
	}
}

/*---RETOUCHING SECTION---*/

#retouching {
	min-height:100vh;
	background:#171717;
}

#retouching .container{
    padding-top: 5rem;
    max-width:750px;
}


/*---RETOUCHING MEDIA QUERIES---*/




/*---ABOUT SECTION---*/

#about{
	min-height:100vh;
	background:#171717;
}

#about .container{
	padding:0 0.9375rem;
}

.content-wrapper{
	max-width:50vh;
	margin: 0 auto;
	padding-top:5rem;
	color:#fff;
}

.content-wrapper hr{
	margin: 0px 20px;
	border: 0;
	border-top: 0.0625rem solid #333;
}

.content-wrapper h2{
	margin: 0;
	padding:1.25rem;
}

.content-wrapper p{
	margin: 0;
	padding:1.25rem;
}

.adobeIcon-wrapper img, .frontendIcon-wrapper img{
	display:inline-block;
	max-width:2.5rem;
	margin:0.625rem;
}

.content-wrapper h3{
	font-size: 1.2rem;
	margin: 0;
	margin-top: 2.5rem;
	text-transform: uppercase;
	font-weight: 300;
}

/*---ABOUT QUERIES---*/

@media (max-height:414px){
	.content-wrapper{
		max-width:100vh;
		padding:5rem 0;
	}
}

/*---FOOTER---*/

footer{
	height:5rem;
	background:#333;
	color:#fff;
}

footer .container{
	height:100%;
	display:flex;
	align-items: center;
	justify-content: center;
}

.socialIcon-wrapper a{
	margin:0 0.625rem;
}

.socialIcon-wrapper a{
	color:#fff;
}

.socialIcon-wrapper a:hover{
	color:#171717;
}

/*---FOOTER QUERIES---*/

@media (max-width:767px){
	footer .container{
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}